[submodule "fast-syntax-highlighting"]
	path = config/zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "fzf-tab"]
	path = config/zsh/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "zsh-autosuggestions"]
	path = config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-fzf-history-search"]
	path = config/zsh/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
